<ion-header>
  <ion-toolbar text-center color="dark">
    <ion-title>
      Ejercicios Básicos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-button expand="full" href="/exercise01">Ejercicio 1</ion-button>
  <ion-button expand="full" href="/exercise02">Ejercicio 2</ion-button>
  <ion-button expand="full" href="/exercise03">Ejercicio 3</ion-button>
  <ion-button expand="full" href="/exercise04">Ejercicio 4</ion-button>
  <ion-button expand="full" href="/exercise05">Ejercicio 5</ion-button>
  <ion-button expand="full" href="/exercise06">Ejercicio 6</ion-button>
  <ion-button expand="full" href="/exercise07">Ejercicio 7</ion-button>
</ion-content>
